<div class="relative-boundary">

    <div cdkDropList cdkDropListOrientation="horizontal" class="relative-list">
            <div class="relative-group-box relative-male" cdkDragBoundary=".relative-boundary" cdkDrag>
                    Appaduari TK
                    (Father)
                </div>
                <div class="relative-group-box relative-female" cdkDragBoundary=".relative-boundary" cdkDrag>
                    Vijayalakshmi A
                    (Mother)
                </div>
    </div>

    <div class="relative-box relative-male" cdkDragBoundary=".relative-boundary" cdkDrag>
        Chandan C
        (Uncle)
    </div>
    <div class="relative-box relative-female" cdkDragBoundary=".relative-boundary" cdkDrag>
        Suyambukani C
        (Aunty)
    </div>

    <div class="relative-box relative-male" cdkDragBoundary=".relative-boundary" cdkDrag>
        Aravind
        (me)
    </div>
    <div class="relative-box relative-female" cdkDragBoundary=".relative-boundary" cdkDrag>
        Nisha
        (wife)
    </div>

    <div class="relative-box relative-male" cdkDragBoundary=".relative-boundary" cdkDrag>
        Varun
        (Brother)
    </div>
    <div class="relative-box relative-female" cdkDragBoundary=".relative-boundary" cdkDrag>
        Padma
        (Sister In-Law)
    </div>
    <div class="relative-box relative-female" cdkDragBoundary=".relative-boundary" cdkDrag>
        Thanushri
        (Niece)
    </div>

</div>