.homepage-bg {
  /* The image used */
  // background-image: url("img_girl.jpg");
  // background-color:#ccc;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-card {
  width: 75%;
  margin: 10px auto;
}
