.full-screen {
  /* The image used */
  // background-image: url("img_girl.jpg");
  background-color: #fff;

  /* Full height */
  height: 90%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-card {
  position: absolute;
  margin: 0;
  top: 20%;
  left: 20%;
  width: 60%;
}
