<div class="full-screen">
  <mat-card class=" homepage-card">
    <mat-card-header>
      <mat-card-title>
        <h1>Welcome to RelatHive 🙏</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <h2>Know your relative better... 👍</h2>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        Relative - considered in relation or in proportion to something else. A person connected by blood or marriage.
        Hive - a place in which people are busily occupied.
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button>Facebook</button>
      <button mat-stroked-button>Twitter</button>
      <button mat-stroked-button>Instagram</button>
      <button mat-stroked-button>WhatsApp</button>
    </mat-card-actions>
  </mat-card>
</div>
